.footer {
  width: 100%;
  border-top: 1px solid var(--background-tertiary);
  padding-top: 40px;
  display: grid;
  place-items: center;
  color: var(--tertiary);
  font-size: 16px;
  line-height: 1.8;
}
