* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --badge-text: #088046;
  --badge-bg: rgba(9, 227, 125, 0.16);
  --primary: #111111;
  --secondary: #535353;
  --tertiary: #585858;
  --accent: #a15830;
  --header-bg: rgba(255, 255, 255, 0.5);
  --background-primary: #f4f5f5;
  --background-secondary: #ffffff;
  --background-tertiary: #efeff0;
  --background-accent: #fae9e1;
  --border: #000000;
  --button-bg-normal: #303236;
  --button-bg-hover: #18191b;
  --button-bg-pressed: #60646c;
  --button-secondary-stroke-normal: hsl(220, 6, 70, 0.7);
  --button-secondary-stroke-hover: hsl(220, 6, 60, 0.9);
  --button-secondary-stroke-pressed: hsl(220, 6, 70, 1);
  --button-tertiary-selected: rgba(174, 177, 183, 0.32);
  --button-tertiary-hover: rgba(174, 177, 183, 0.16);
  --button-tertiary-pressed: rgba(174, 177, 183, 0.5);
  --button-tertiary-normal: transparent;

  font-family: 'Urbanist', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 400;

  color-scheme: light;
  color: var(--primary);
  background-color: var(--background-secondary);

  view-transition-name: root;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme='dark'] {
  --badge-text: #12c971;
  --badge-bg: rgba(15, 138, 81, 0.21);
  --primary: #ffffff;
  --secondary: rgba(255, 255, 255, 0.6);
  --tertiary: rgba(255, 255, 255, 0.4);
  --accent: #fabc9b;
  --header-bg: rgba(17, 17, 17, 0.5);
  --background-primary: #141414;
  --background-tertiary: #282828;
  --background-accent: #382218;
  --border: #535353;
  --button-bg-normal: rgba(255, 255, 255, 0.14);
  --button-bg-hover: rgba(255, 255, 255, 0.18);
  --button-bg-pressed: rgba(255, 255, 255, 0.22);
  --background-secondary: #1a1a1a;
  --button-secondary-stroke-noraml: rgba(255, 255, 255, 0.12);
  --button-secondary-stroke-hover: rgba(255, 255, 255, 0.32);
  --button-secondary-stroke-pressed: rgba(255, 255, 255, 0.24);
  --button-tertiary-selected: #303236;
  --button-tertiary-hover: rgba(255, 255, 255, 0.08);
  --button-tertiary-pressed: rgba(255, 255, 255, 0.2);

  color-scheme: dark;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  color: var(--primary);
}

h2 {
  font-size: 26px;
  line-height: 39px;
}

a {
  text-decoration: none;
}
